/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.local
.env.*.local
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.log
/logs
/var/log
/audio-service/logs
/audio-service/*.log
/venv
/audio-service/venv
__pycache__
/audio-service/__pycache__
*.pid
/audio-service/*.pid
*.sock
/audio-service/*.sock
.git_backup
